html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(32, 39, 51);
  font-family: sans-serif;
}
h1, p{
  color: white;
}
body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center; 
}
.container{
  background-color: rgb(49, 58, 72);
  width: 540px;
  min-height: 364px;
  text-align: center;
  border-radius: 20px;
}
h1{
  color: rgb(83, 255, 170);
}
p{
  color: rgb(206, 227, 233);
}
.image__img{
  position: absolute;
  top: 600px;
  left: 800px;
}
button{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: rgb(83, 255, 170);
  position: absolute;
  // top: 650px;
  // left: 990px;
  bottom: 0;
  translate: -50 50%;
  left: 50%;
  cursor: pointer;
}
.icon{
  margin-right: auto;
  margin-left: auto;
}